@charset "utf-8";

:root{
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Elementos Base*/

body {
    background-color: var(--preta);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

header .container {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Filme Principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-house.jpg');
    
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.filme-principal .descricao {
    margin-bottom: 90px;
}

.filme-principal .titulo {
    font-size: 40px;
    margin-top: 15%;
    font-family: 'Trebuchet MS';
}

.filme-principal .container {
    width: 70%;
}

.container {
    margin-left: 10px;
}

.botao {
    background-color: rgba(0,0,0,.50);
    color: white;
    border: none;
    padding: 15px;
    margin-left: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.botao:hover {
    background-color: white;
    color: black;
    transition: .7s ease all;
}

.botao i {
    margin-right: 5px;
    font-size: 15px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 10px;
}

/* WRAPPER = ENVELOPAR

